.App {
  background-color: #8DDCA4;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}